{% extends "portfolio/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mx-auto max-w-md mt-12">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-900 dark:text-white">🔐 Login</h1>
    <form method="post" action="{% url 'login' %}" class="bg-white dark:bg-gray-800 shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}

        <div class="mb-4">
            <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="id_username">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 dark:bg-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_username" name="username" type="text" placeholder="Username">
        </div>

        <div class="mb-6">
            <label class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2" for="id_password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 dark:text-gray-300 dark:bg-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="id_password" name="password" type="password" placeholder="******************">
        </div>

        <input type="hidden" name="next" value="{{ request.GET.next }}">

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Login
            </button>
        </div>
    </form>
</div>
{% endblock %}
